@model DemoAzureMVC.Shared.Student

@{
    ViewData["Title"] = "Delete";
}

<div class="delete-div">
    <div class="delete-header">
        Are you sure you want to delete this student?
    </div>
    <div class="delete-content">
        <div>
            @if (Model.PictureUrl != null)
            {
                @if (Model.PictureUrl.Contains("http"))
                {
                    <img src="@Model.PictureUrl" width="150" class="right-img" onerror="this.onerror=null; this.src='@(Model.IsWizard ? Url.Content("~/css/wizardNoPhoto.png") : Url.Content("~/css/witchNoPhoto.png"))';" />
                    <p class="pic-link">Picture url: <a href="@Model.PictureUrl">@Model.PictureUrl</a></p>
                }
                else
                {
                    <img src="~/css/@Model.PictureUrl" width="150" class="right-img" onerror="this.onerror=null; this.src='@(Model.IsWizard ? Url.Content("~/css/wizardNoPhoto.png") : Url.Content("~/css/witchNoPhoto.png"))';" />
                    <p>Picture url: @Model.PictureUrl</p>
                }
            }
        </div>
        <div>
            <p>Id: @Model.Id</p>
            <p>Name: @Model.FirstName @Model.LastName</p>
        </div>
    </div>
    <form method="post" class="delete-form">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="@Url.Action("Index")" class="btn btn-primary">Cancel</a>
    </form>
</div>
